MONGO_URI='mongodb+srv://chinmaychamoli5:5GpaP5Vz9F8BhlvL@cluster0.cevdcwa.mongodb.net/'
MAIL_DEFAULT_SENDER='chinmaychamoli5@gmail.com'
MAIL_SERVER='smtp.gmail..com'
MAIL_USERNAME='chinmaychamoli5@gmail.com'
MAIL_PASSWORD='password'
GCLOUD_PROJECT="projects/Capstone-Cogni"
